.main {
  min-height: 100vh;
  background: rgb(193, 222, 237);
}

.center{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 25px;
}

.horLine{
  margin-top: 15px;
  background-color: black;
  height: 2px;
  border: none;
}

.name{
  font-size: 45px;
  margin-left: 50px;
  font-family: 'Righteous', cursive;
}

.subtitle{
  margin: 15px;
  font-size: 30px;
  margin-left: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

.blog{
  margin: 30px;
  margin-top: 20px;
  background: rgb(111, 193, 213);
  opacity: 1.0; 
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.blogtitle{
  padding: 15px;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: rgba(0, 0, 0, 0.2);
  font-size: 25px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.content{
  padding: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}